.form {
  display: grid;
  grid-template-columns: auto;
  gap: 0.75rem;
  align-self: top;
  margin-top: 1.25rem;
}

.form > div {
  display: grid;
}

.label {
  display: inline-block;
  width: 100px;
  font-weight: 600;
}

.submit-button {
  width: 100px;
}

.success-message {
  background-color: rgb(200, 255, 200);
  padding: 10px 30px;
  border-radius: 10px;
  color: rgb(0, 110, 0);
  font-weight: 550;
  white-space: nowrap;
}

.fail-message {
  background-color: rgb(255, 200, 200);
  padding: 10px 30px;
  border-radius: 10px;
  color: rgb(110, 0, 0);
  font-weight: 550;
}

.message-container {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .form {
    margin-top: 1rem;
  }

  .form > div > input {
    width: 100%;
    margin-left: 0px;
  }
  
  .form > div > textarea {
    width: 100%;
    height: 11rem;
    margin-left: 0px;
  }

  .success-message > label {
    padding: 5px 10px;
    border-radius: 10px;
  }
}